services:
  mailbox-server:
    build: .
    container_name: mailbox-iot-backend
    restart: unless-stopped
    depends_on: [mailboxqtt]
    ports:
      # Dashboard Port: Browser -> Docker
      - "127.0.0.1:8000:8000"
    environment:
      - PYTHONUNBUFFERED=1  # Zeigt Python-Logs sofort im Docker-Log an
      - BROKER_ADDRESS=mailboxqtt:1883  # Adresse des MQTT Brokers
  mailboxqtt:
    image: heofthetea/mailboxqtt:latest
    restart: unless-stopped
    container_name: mailboxqtt
    ports:
      - 0.0.0.0:1883:1883
